.collection {
  &-wrap {
    width: 100%;
  }

  &-card {
    width: 18%;
    margin: 0.5%;

    @media screen and (max-width: 992px) {
      width: 30%;
      margin-bottom: 2vw;
    }

    @media screen and (max-width: 576px) {
      width: 45%;
    }
  }

  &-body {
    @media screen and (max-width: 768px) {
      padding: 0.7rem 1rem;
    }

    @media screen and (max-width: 576px) {
      padding: 0.5rem 1rem;
    }
  }

  &-name {
    margin-bottom: 0;

    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 576px) {
      font-size: 0.8rem;
    }
  }

  &-number:hover,
  &-author:hover {
    cursor: pointer;
  }
}

.list-group-item {
  border-color: #0000002d;
}
